* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
input[type=checkbox] {
    appearance: none; /* 기본(네이티브) 모양을 제거 */
    box-sizing: border-box;
    background-clip: content-box;
    padding: 0.25em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid gray;
    cursor: pointer;
}
[type="checkbox"]:checked {
    border-color: yellowgreen;
    background-color: yellowgreen;
}
main {
    width: 400px;
    height: 600px;
    background: #aaa;
}