@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Paperlogy-8ExtraBold';
}
:root {
    --basicTransiton: 0.3s;
    --mColor: #0eb4fc;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mColor);
}
li {
    list-style: none;
}
input[type=checkbox] {
    appearance: none;
    box-sizing: border-box;
    background-clip: content-box;
    padding: 0.25em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid gray;
    cursor: pointer;
}
[type="checkbox"]:checked {
    border-color: var(--mColor);
    background-color: var(--mColor);
}
main {
    width: 400px;
    height: 600px;
    background: #fefefe;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.myList {
    height: 40px;
    width: 60%;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 20px;
}
nav button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #fff;
    border: 1px solid gray;
    color: gray;
    transition: var(--basicTransiton);
}
nav button:hover {
    color: #111;
    border: 1px solid #111;
    cursor: pointer;
    transition: var(--basicTransiton);
}
.listBox {
    padding: 10px 20px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.noChild {
    width: 100%;
    height: 50%;
    text-align: center;
    align-content: center;
}
.listBox > li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.under {
    width: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #333;
    height: 1px;
    transition: var(--basicTransiton);
}
.afterCheck {
    position: absolute;
    bottom: 50%;
    transition: var(--basicTransiton);
    color: #aaa;
    background: #aaa;
}
.listModalCon {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: var(--basicTransiton);
    z-index: 2;
}
.showModal {
    visibility: visible;
    opacity: 1;
    transition: var(--basicTransiton);
}
.listModalCon > .listModal {
    width: 500px;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.listModal > input {
    width: 40%;
    height: 40%;
    border: 1px solid #333;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}
.listModal > .modalBtnBox  {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.modalBtnBox > button {
    width: 100%;
    height: 40%;
    background: #0eb4fc;
    color: #fff;
    border: none;
    transition: var(--basicTransiton);
}
.saveBtn:hover {
    background: #1383b3;
    transition: var(--basicTransiton);
    cursor: pointer;
}
.closeBtn:hover {
    background: red;
    transition: var(--basicTransiton);
    cursor: pointer;
}
.listBox > li > p {
    width: 80%;
    height: 100%;
    align-content: center;
    padding-left: 10px;
}

.listBox > li > input {
    margin-right: 10px;
}